<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cms.gongju.cable.mapper.AgencyMapper">

    <select id="selectWorkDetailList" parameterType="long" resultType="map">
        SELECT
            cwd.WORK_DETAIL_ID,
            cwd.REQUEST_ID,
            cwd.START_LOCATION,
            cwd.END_LOCATION,
            cwd.START_ASSET_ID,
            cwd.START_PORT,
            cwd.END_ASSET_ID,
            cwd.END_PORT,
            cwd.CABLE_TYPE,
            cwd.CABLE_COLOR,
            cwd.CABLE_LENGTH,
            cwd.REMARKS,
            stet.location start_location,
            stet.eqp_name start_eqp_name,
            stet.port start_port,
            enet.location end_location,
            enet.eqp_name end_eqp_name,
            enet.port end_port
        FROM tb_cable_work_detail cwd
             left join tb_eqp_temp stet
                       on cwd.START_ASSET_ID = stet.asset_id
             left join tb_eqp_temp enet
                       on cwd.END_ASSET_ID = enet.asset_id
        WHERE REQUEST_ID = #{requestId}
    </select>

    <!-- 기관회선 등록 -->
    <insert id="insertCableInstall" parameterType="map" useGeneratedKeys="true" keyProperty="INSTALL_ID">
        /* insertCableInstall */
        INSERT INTO tb_cable_install
        (
            REQUEST_ID,
            WORK_DETAIL_ID,
            START_LABEL_ID,
            END_LABEL_ID,
            START_LOCATION,
            END_LOCATION,
            START_ASSET_ID,
            START_PORT,
            END_ASSET_ID,
            END_PORT,
            CABLE_TYPE,
            CABLE_COLOR,
            CABLE_LENGTH,
            INSTALL_DATE,
            LINE_STATUS,
            REMARKS,
            IS_DELETED,
            REG_ID,
            REG_DT
        )
        VALUES
            (
                #{requestId},
                #{workDetailId},
                #{startLabelId},
                #{endLabelId},
                #{startLocation},
                #{endLocation},
                #{startAssetId},
                #{startPort},
                #{endAssetId},
                #{endPort},
                #{cableType},
                #{cableColor},
                #{cableLength},
                #{installDate},
                #{lineStatus},
                #{remarks},
                'N',
                'admin',
                NOW()
            )
    </insert>

    <!-- LABEL_ID 생성 -->
    <select id="generateLabelId" resultType="int">
        /* generateLabelId */
        select
            COALESCE(max(LABEL_ID), 0) + 1 as next_id
        from tb_label_info
    </select>

    <!-- LABEL FILE NAME 생성 -->
    <select id="generateCableManageId" parameterType="map" resultType="String">
        /* generateCableManageId */
        SELECT
            CONCAT(#{cableLabelId}, '_', LPAD(IFNULL(MAX(CAST(SUBSTRING(QR_INFO , -5) AS UNSIGNED)) + 1, 1), 5, '0')) AS next_id
        FROM
            tb_label_info
        where
            QR_INFO LIKE CONCAT(#{cableLabelId}, '_%');
    </select>

    <!-- 라벨 정보 저장 -->
    <insert id="saveLabelInfo" parameterType="map">
        /* saveLabelInfo */
        insert into tb_label_info(
            LABEL_ID,
            LABEL_PRINT,
            LABEL_COLOR,
            QR_PATH,
            QR_INFO,
            REG_ID,
            REG_DT
        )
        values (
            #{labelId},
            #{labelContent},
            '노란색',
           #{qrPath},
           #{qrInfo},
           #{reg_id},
           now()
        )
    </insert>

    <!-- 설치 검색용 공통 쿼리 -->
    <sql id="searchInstallSql">
        /* searchInstallSql */
        AND (cwd.START_COMPONENT_ID is not null and cwd.END_COMPONENT_ID is not null)
        <if test="start_date != null and start_date != ''">
            AND DATE_FORMAT(i.INSTALL_DATE, '%Y-%m-%d') BETWEEN #{start_date} AND #{end_date}
        </if>
        <if test="install_start_date != null and install_start_date != ''">
            AND DATE_FORMAT(i.INSTALL_DATE, '%Y-%m-%d') BETWEEN #{install_start_date} AND #{install_end_date}
        </if>
        <if test="approve_start_date != null and approve_start_date != ''">
            AND DATE_FORMAT(i.UPD_DT, '%Y-%m-%d') BETWEEN #{approve_start_date} AND #{approve_end_date}
        </if>
        <if test="start_asset_config != null and start_asset_config != ''">
            AND (BINARY i.START_ASSET_ID Like CONCAT('%', #{start_asset_config}, '%') OR BINARY st.config_id Like CONCAT('%', #{start_asset_config}, '%'))
        </if>
        <if test="start_location != null and start_location != ''">
            AND BINARY i.START_LOCATION Like CONCAT('%', #{start_location}, '%')
        </if>
        <if test="start_eqp_name != null and start_eqp_name != ''">
            AND BINARY st.eqp_name Like CONCAT('%', #{start_eqp_name}, '%')
        </if>
        <if test="end_asset_config != null and end_asset_config != ''">
            AND (BINARY i.END_ASSET_ID Like CONCAT('%', #{end_asset_config}, '%') OR BINARY et.config_id Like CONCAT('%', #{end_asset_config}, '%'))
        </if>
        <if test="end_location != null and end_location != ''">
            AND BINARY i.END_LOCATION Like CONCAT('%', #{end_location}, '%')
        </if>
        <if test="end_eqp_name != null and end_eqp_name != ''">
            AND BINARY et.eqp_name Like CONCAT('%', #{end_eqp_name}, '%')
        </if>
        <if test="line_status != null and line_status != ''">
            AND BINARY i.LINE_STATUS Like CONCAT('%', #{line_status}, '%')
        </if>
        <if test="dedicated_line_category != null and dedicated_line_category != ''">
            AND BINARY i.DEDICATED_LINE_CATEGORY Like CONCAT('%', #{dedicated_line_category}, '%')
        </if>
        <if test="dedicated_line_number != null and dedicated_line_number != ''">
            AND BINARY i.DEDICATED_LINE_NUMBER Like CONCAT('%', #{dedicated_line_number}, '%')
        </if>
    </sql>

    <!-- 설치(선번장) 목록조회 -->
    <select id="selectInstallList" parameterType="map" resultType="map">
        /* selectInstallList */
        SELECT
            i.INSTALL_ID install_id,         /* no */
            i.REQUEST_ID request_id,         /* 신청 ID */
            i.WORK_DETAIL_ID work_detail_id, /* 작업자 ID */
            i.START_ASSET_ID start_asset_id, /* START 자산ID */
            cwd.START_COMPONENT_ID start_config_id, /* START 구성ID */
            i.START_LOCATION start_location, /* START 좌표 */
            i.START_PORT start_port,         /* START 포트 */
            i.END_ASSET_ID end_asset_id,     /* END 자산ID */
            cwd.END_COMPONENT_ID end_config_id, /* END 구성ID */
            i.END_LOCATION end_location,     /* END 좌표 */
            i.END_PORT end_port,             /* END 포트 */
            i.CABLE_TYPE cable_type,         /* 케이블타입 */
            i.CABLE_COLOR cable_color,       /* 케이블색상 */
            i.CABLE_LENGTH cable_length,     /* 케이블길이 */
            DATE_FORMAT(i.INSTALL_DATE, '%Y-%m-%d') AS install_date, /* 포설일자 */
            i.LINE_STATUS line_status,       /* 회선상태 */
            i.REG_ID reg_id,                 /* 등록자 ID */
            i.REMARKS remark,               /* 비고 */
            DATE_FORMAT(i.REG_DT, '%Y-%m-%d %H:%i:%s') AS reg_dt, /* 등록일 */
            -- st.config_id AS start_config_id, /* START 구성ID */
            st.eqp_name  AS start_eqp_name,  /* START 업무명 */
            -- et.config_id AS end_config_id,   /* END 구성ID */
            et.eqp_name  AS end_eqp_name     /* END 업무명 */
        FROM
            tb_cable_install i
            LEFT JOIN tb_cable_work_detail cwd
                on i.WORK_DETAIL_ID = cwd.WORK_DETAIL_ID
            LEFT JOIN tb_eqp_temp st
                ON i.START_ASSET_ID = st.asset_id
            LEFT JOIN tb_eqp_temp et
                ON i.END_ASSET_ID   = et.asset_id
        WHERE 1=1
            AND i.IS_DELETED = 'N'
        <include refid="searchInstallSql"/>
        ORDER BY i.INSTALL_ID DESC
        LIMIT #{start}, #{page}
    </select>

    <!-- 설치(선번장) 목록 개수 조회 -->
    <select id="selectInstallCount" parameterType="map" resultType="int">
        /* selectInstallCount */
        SELECT
            count(i.INSTALL_ID)
        FROM
            tb_cable_install i
            LEFT JOIN tb_cable_work_detail cwd
                on i.WORK_DETAIL_ID = cwd.WORK_DETAIL_ID
            LEFT JOIN tb_eqp_temp st
                ON i.START_ASSET_ID = st.asset_id
            LEFT JOIN tb_eqp_temp et
                ON i.END_ASSET_ID   = et.asset_id
        WHERE 1=1
            AND i.IS_DELETED = 'N'
        <include refid="searchInstallSql"/>
    </select>

    <!-- 선택된 설치(선번장) 목록 삭제 -->
    <update id="deleteCableInfo" parameterType="map">
        update tb_cable_install
        set IS_DELETED = 'Y',
            UPD_ID = #{regId},
            UPD_DT = now()
        where INSTALL_ID = #{installId}
    </update>

    <!--
      updateCableRemove
      - requestIdList 로 받은 값 => tb_cable_work_detail (wd) + tb_cable_install (ci) 조인
      - 일치하는 install row => is_deleted='Y'
      - 조인 조건:
         ci.request_id=wd.request_id
         AND ci.start_asset_id=wd.start_asset_id
         AND ci.start_port=wd.start_port
         AND ci.end_asset_id=wd.end_asset_id
         AND ci.end_port=wd.end_port
     -->
    <update id="updateCableRemove" parameterType="map">
        <![CDATA[
        UPDATE tb_cable_install ci
          JOIN tb_cable_work_detail wd
            ON ci.start_asset_id = wd.start_asset_id
            AND ci.start_port = wd.start_port
            AND ci.end_asset_id   = wd.end_asset_id
            AND ci.end_port       = wd.end_port
        SET
            ci.is_deleted = 'Y',
            ci.UPD_ID = #{regId},
            ci.UPD_DT = now()
        WHERE wd.request_id IN
        ]]>
        <foreach collection="requestIdList" item="requestId" separator="," open="(" close=")">
            #{requestId}
        </foreach>
    </update>


    <!-- 선택된 설치(선번장) 정보 조회 -->
    <select id="selectInstallPopupList" parameterType="map" resultType="map">
        /* selectInstallPopupList */
        SELECT
            i.INSTALL_ID install_id,                    /* no */
            i.REQUEST_ID request_id,                    /* 신청 ID */
            i.WORK_DETAIL_ID work_detail_id,            /* 작업자 ID */
            i.START_ASSET_ID start_asset_id,            /* START 자산ID */
            cwd.START_LOCATION start_location,     	    /* START 좌표 */
            cwd.START_PORT start_port,				    /* START 포트 */
            cwd.START_COMPONENT_ID start_config_id,     /* START 구성ID */
            st.eqp_name  AS start_eqp_name,             /* START 업무명 */
            cwd.END_COMPONENT_ID end_config_id,			/* END 구성ID */
            i.END_ASSET_ID end_asset_id,                /* END 자산ID */
            cwd.END_LOCATION end_location,				/* END 좌표 */
            cwd.END_PORT end_port,					    /* END 포트 */
            et.eqp_name  AS end_eqp_name,               /* END 업무명 */
            i.CABLE_TYPE cable_type,                    /* 케이블타입 */
            i.CABLE_COLOR cable_color,                  /* 케이블색상 */
            i.CABLE_LENGTH cable_length,                /* 케이블길이 */
            DATE_FORMAT(i.INSTALL_DATE, '%Y-%m-%d') AS install_date, /* 포설일자 */
            i.LINE_STATUS line_status,                            /* 회선상태 */
            i.DEDICATED_LINE_CATEGORY dedicated_line_category,    /* 전용회선번호 사업자 */
            i.DEDICATED_LINE_NUMBER   dedicated_line_number,      /* 전용회선번호 회선번호 */
            i.REG_ID reg_id,                                      /* 등록자 ID */
            i.REMARKS remark,                                     /* 비고 */
            DATE_FORMAT(i.REG_DT, '%Y-%m-%d %H:%i:%s') AS reg_dt, /* 등록일 */
            '' AS horizontal_1_id,
            '' AS horizontal_1_1,
            '' AS horizontal_1_2,
            '' AS vertical_1_id,
            '' AS vertical_1_1,
            '' AS vertical_1_2
        FROM
            tb_cable_install i
                LEFT JOIN tb_cable_work_detail cwd
                          ON i.REQUEST_ID = cwd.REQUEST_ID
                              AND i.WORK_DETAIL_ID  = cwd.WORK_DETAIL_ID  /*새로 추가한 */
                LEFT JOIN tb_eqp_temp st -- 업무명
                          ON i.START_ASSET_ID = st.asset_id
                LEFT JOIN tb_eqp_temp et -- 업무명
                          ON i.END_ASSET_ID   = et.asset_id
        WHERE 1=1
            and i.INSTALL_ID = #{installId}
    </select>

    <!-- 선택된 설치(선번장)의 패치 정보 조회 -->
    <select id="selectInstallPatchPopupList" parameterType="map" resultType="map">
        /* selectInstallPatchPopupList */
        SELECT
            ROW_NUMBER() OVER (ORDER BY c.CONNECTION_ID) AS `NO`,
            c.CONNECTION_ID AS connection_id,
            d1.PATCH_CATEGORY AS patch_category,
            CONCAT(d1.PATCH_NAME, '_', p1.PORT_NAME) AS main_patch_port_concat,  -- *** "MAIN 패치네임" + "_" + "MAIN 패치포트"
            CONCAT(d2.PATCH_NAME, '_', p2.PORT_NAME) AS sub_patch_port_concat   -- *** "SUB 패치네임" + "_" + "SUB 패치포트"
        FROM tb_patch_connection c
            -- MAIN 패치 연결
            JOIN tb_patch_device d1
                ON c.MAIN_PATCH_ID = d1.PATCH_ID
            JOIN tb_patch_port   p1
                ON c.MAIN_PORT_ID  = p1.PORT_ID
            -- SUB 패치 연결
            JOIN tb_patch_device d2
                ON c.SUB_PATCH_ID = d2.PATCH_ID
            JOIN tb_patch_port   p2
                ON c.SUB_PORT_ID  = p2.PORT_ID
            LEFT JOIN (
                select DISTINCT START_ASSET_ID, END_ASSET_ID
                from tb_cable_install
            ) ci
                ON ci.START_ASSET_ID = c.MAIN_ASSET_ID AND ci.END_ASSET_ID   = c.SUB_ASSET_ID
        WHERE
            c.MAIN_ASSET_ID = #{start_asset_id} and c.SUB_ASSET_ID = #{end_asset_id};
    </select>

    <!-- 선택된 설치(선번장) 정보 저장 -->
    <update id="saveCableInfo" parameterType="map">
        /* saveCableInfo */
        update tb_cable_install
        set
            <if test="start_asset_id != null and start_asset_id != ''">
                START_ASSET_ID = #{start_asset_id},
            </if>
            <if test="end_asset_id != null and end_asset_id != ''">
                END_ASSET_ID = #{end_asset_id},
            </if>
            <if test="start_location != null and start_location != ''">
                START_LOCATION = #{start_location},
            </if>
            <if test="end_location != null and end_location != ''">
                END_LOCATION = #{end_location},
            </if>
            <if test="start_port != null and start_port != ''">
                START_PORT = #{start_port},
            </if>
            <if test="end_port != null and end_port != ''">
                END_PORT = #{end_port},
            </if>
            <if test="line_status != null and line_status != ''">
                LINE_STATUS = #{line_status},
            </if>
            <if test="dedicated_line_category == ''">
                DEDICATED_LINE_CATEGORY = NULL,
            </if>
            <if test="dedicated_line_category != null and dedicated_line_category != ''">
                DEDICATED_LINE_CATEGORY = #{dedicated_line_category},
            </if>
            <if test="dedicated_line_number != null and dedicated_line_number != ''">
                DEDICATED_LINE_NUMBER = #{dedicated_line_number},
            </if>
            <if test="cable_type != null and cable_type != ''">
                CABLE_TYPE = #{cable_type},
            </if>
            <if test="cable_color != null and cable_color != ''">
                CABLE_COLOR = #{cable_color},
            </if>
            <if test="cable_length != null and cable_length != ''">
                CABLE_LENGTH = #{cable_length},
            </if>
            <if test="install_date != null and install_date != ''">
                INSTALL_DATE = #{install_date},
            </if>
            <if test="remark != null and remark != ''">
                REMARKS = #{remark},
            </if>
            UPD_DT = now()
        where INSTALL_ID = #{install_id}
    </update>

    <!-- 선택된 설치(선번장) 구성정보 저장 -->
    <update id="saveCableConfigInfo" parameterType="map">
        /* saveCableConfigInfo */
        UPDATE tb_cable_work_detail
        SET
            <if test="new_start_asset_id != null and new_start_asset_id != ''">
                START_ASSET_ID = #{new_start_asset_id},
            </if>
            <if test="new_end_asset_id != null and new_end_asset_id != ''">
                END_ASSET_ID = #{new_end_asset_id},
            </if>
            <if test="start_config_id != null and start_config_id != ''">
                START_COMPONENT_ID = #{start_config_id},
            </if>
            <if test="end_config_id != null and end_config_id != ''">
                END_COMPONENT_ID = #{end_config_id},
            </if>
            <if test="start_location != null and start_location != ''">
                START_LOCATION = #{start_location},
            </if>
            <if test="end_location != null and end_location != ''">
                END_LOCATION = #{end_location},
            </if>

            START_PORT = #{start_port},
            END_PORT = #{end_port},
            UPD_ID = #{upd_id},
            UPD_DT = now()
        WHERE
            START_ASSET_ID = #{start_asset_id} AND END_ASSET_ID = #{end_asset_id}
    </update>

    <!-- 선택된 설치(선번장) 패치정보 저장 -->
    <update id="saveCablePatchInfo" parameterType="map">
        /* saveCablePatchInfo */
        update tb_patch_connection
        set
            MAIN_ASSET_ID = #{main_asset_id},
            SUB_ASSET_ID = #{sub_asset_id}
        where
            CONNECTION_ID = #{connection_id}
    </update>

    <!-- 선택된 설치(선번장) 구성정보 조회 -->
    <select id="selectCableInfoAssetList" parameterType="map" resultType="map">
        /* selectCableInfoAssetList */
        select
            ROW_NUMBER() OVER (ORDER BY asset_id) AS `No`,
            asset_id,
            config_id,
            eqp_name,
            host_name,
            model_name,
            port,
            location
        from tb_eqp_temp
        where 1=1
          and asset_id = #{asset_id}
    </select>

    <!-- 라벨 데이터 목록 -->
    <select id="getLabelList" parameterType="map" resultType="map">
        /* getLabelList */
        SELECT
            concat(i.START_LOCATION, '-', st.eqp_name, '-', i.START_PORT ) start_text,
            concat(i.END_LOCATION, '-', et.eqp_name, '-', i.END_PORT ) end_text,
            i.START_LABEL_ID start_label,
            i.END_LABEL_ID end_label,
            sli.QR_INFO start_qr_info,
            eli.QR_INFO end_qr_info
        FROM
            tb_cable_install i
            LEFT JOIN tb_eqp_temp st
                ON i.START_ASSET_ID = st.asset_id
            LEFT JOIN tb_eqp_temp et
                ON i.END_ASSET_ID   = et.asset_id
            LEFT JOIN tb_label_info sli
                on i.START_LABEL_ID = sli.LABEL_ID
            LEFT JOIN tb_label_info eli
                on i.END_LABEL_ID = eli.LABEL_ID
        WHERE
            i.INSTALL_ID in
            <foreach item="item" index="index" collection="data" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <!-- 이력조회 목록 -->
    <select id="getHistoryList" parameterType="map" resultType="map">
        /* getHistoryList */
        SELECT
            i.INSTALL_ID install_id,         /* no */
            i.REQUEST_ID request_id,         /* 신청 ID */
            i.WORK_DETAIL_ID work_detail_id, /* 작업자 ID */
            i.START_ASSET_ID start_asset_id, /* START 자산ID */
            cwd.START_COMPONENT_ID start_config_id, /* START 구성ID */
            i.START_LOCATION start_location, /* START 좌표 */
            i.START_PORT start_port,         /* START 포트 */
            i.END_ASSET_ID end_asset_id,     /* END 자산ID */
            cwd.END_COMPONENT_ID end_config_id, /* END 구성ID */
            i.END_LOCATION end_location,     /* END 좌표 */
            i.END_PORT end_port,             /* END 포트 */
            i.CABLE_TYPE cable_type,         /* 케이블타입 */
            i.CABLE_COLOR cable_color,       /* 케이블색상 */
            i.CABLE_LENGTH cable_length,     /* 케이블길이 */
            DATE_FORMAT(i.INSTALL_DATE, '%Y-%m-%d') AS install_date, /* 포설일자 */
            i.LINE_STATUS line_status,       /* 회선상태 */
            i.REG_ID reg_id,                 /* 등록자 ID */
            i.REMARKS remark,               /* 비고 */
            DATE_FORMAT(i.UPD_DT, '%Y-%m-%d')  upd_dt,	 	      /* 승인(수정) 일자 */
            cr.ORG_NAME org_name,			 /* 기관명 */
            '제거' cable_category,            /* 구분 */
            DATE_FORMAT(i.REG_DT, '%Y-%m-%d %H:%i:%s') AS reg_dt, /* 등록일 */
            st.eqp_name  AS start_eqp_name,  /* START 업무명 */
            et.eqp_name  AS end_eqp_name     /* END 업무명 */
        FROM
            tb_cable_install i
            LEFT JOIN tb_cable_work_detail cwd
                on i.WORK_DETAIL_ID = cwd.WORK_DETAIL_ID
            LEFT JOIN tb_eqp_temp st
                ON i.START_ASSET_ID = st.asset_id
            LEFT JOIN tb_eqp_temp et
                ON i.END_ASSET_ID   = et.asset_id
            LEFT JOIN tb_cable_request cr
                ON i.REQUEST_ID = cr.REQUEST_ID
        WHERE 1=1
            AND i.IS_DELETED = 'Y'
        <include refid="searchInstallSql"/>
        ORDER BY i.INSTALL_ID DESC
        LIMIT #{start}, #{page}
    </select>

    <!-- 이력조회 목록 개수 -->
    <select id="getHistoryListCount" parameterType="map" resultType="int">
        /* getHistoryList */
        SELECT
            count(i.INSTALL_ID)
        FROM
            tb_cable_install i
            LEFT JOIN tb_cable_work_detail cwd
                on i.WORK_DETAIL_ID = cwd.WORK_DETAIL_ID
            LEFT JOIN tb_eqp_temp st
                ON i.START_ASSET_ID = st.asset_id
            LEFT JOIN tb_eqp_temp et
                ON i.END_ASSET_ID   = et.asset_id
            LEFT JOIN tb_cable_request cr
                ON i.REQUEST_ID = cr.REQUEST_ID
        WHERE 1=1
            AND i.IS_DELETED = 'Y'
        <include refid="searchInstallSql"/>
    </select>

    <!-- 엑셀 다운로드용 설치(선번장) 목록 조회 -->
    <select id="getExcelCableInfoTotalList" parameterType="map" resultType="map">
        /* getExcelCableInfoTotalList */
        SELECT
            i.INSTALL_ID `No`,         /* no */
            i.START_ASSET_ID `START_자산ID`, /* START 자산ID */
            cwd.START_COMPONENT_ID `START_구성ID`, /* START 구성ID */
            st.eqp_name `START_업무명`,  /* START 업무명 */
            i.START_LOCATION `START_좌표`, /* START 좌표 */
            i.START_PORT `START_포트`,         /* START 포트 */
            i.END_ASSET_ID `END_자산ID`,     /* END 자산ID */
            cwd.END_COMPONENT_ID `END_구성ID`, /* END 구성ID */
            et.eqp_name `END_업무명`,    /* END 업무명 */
            i.END_LOCATION `END_좌표`,     /* END 좌표 */
            i.END_PORT `END_포트`,             /* END 포트 */
            i.CABLE_TYPE `케이블 타입`,         /* 케이블타입 */
            i.CABLE_COLOR `케이블 색상`,       /* 케이블색상 */
            i.CABLE_LENGTH `케이블 길이`,     /* 케이블길이 */
            DATE_FORMAT(i.INSTALL_DATE, '%Y-%m-%d') `포설일자` /* 포설일자 */
        FROM
            tb_cable_install i
                LEFT JOIN tb_cable_work_detail cwd
                    on i.WORK_DETAIL_ID = cwd.WORK_DETAIL_ID
                LEFT JOIN tb_eqp_temp st
                    ON i.START_ASSET_ID = st.asset_id
                LEFT JOIN tb_eqp_temp et
                    ON i.END_ASSET_ID   = et.asset_id
        WHERE 1=1
            AND i.IS_DELETED = 'N'
            <include refid="searchInstallSql"/>
        ORDER BY i.INSTALL_ID DESC
    </select>


</mapper>
